@using Microsoft.AspNetCore.Identity
@using SyriuxFitnesApp.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        // Giriş yapmış kullanıcıyı bul
        var user = await UserManager.GetUserAsync(User);

        // Adını al. Eğer teknik bir hatadan ad gelmezse mecburen Email göster.
        var displayName = user?.FirstName ?? User.Identity?.Name;

        <li class="nav-item">
            <span class="nav-link text-dark fw-bold">Merhaba, @displayName!</span>
        </li>
        <li class="nav-item">
            <a id="manage" class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Profilim">
                <i class="bi bi-person-circle"></i> Profil
            </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-danger border-0">Çıkış Yap</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Kayıt Ol</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Giriş Yap</a>
        </li>
    }
</ul>